* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1 {
  color: purple;
}

body {

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: #111;
}

li {
  list-style-type: none;
}

.main {
  background: rgb(219, 248, 243);
  height: 100vh;

}